.root {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-column-gap: 16px;
  padding: 16px;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: 1px solid rgb(240, 240, 240);
  height: auto;
}

.control {
  margin: 0;
}
