.root {
  background: white;
  height: calc(100vh - 144px);
  position: relative;
  display: flex;
  padding-top: 16px;
}

.messages {
  width: 100%;
  max-height: calc(100% - 87px);
  overflow: scroll;
}

.messageRoot {
  display: flex;
  align-items: flex-start;
}

.message {
  margin: 16px;
  margin-top: 0;
  padding: 8px 16px;
  background: rgb(208, 240, 255);

  max-width: 50%;
  border-radius: 5px;
  width: 100%;
}

.message * {
  color: black;
}

.messageTime {
  opacity: 0.8;
}

.messageOutput {
  background: rgb(240, 240, 240);
  margin-left: auto;
}

.messageText {
  text-align: left;
}
