.modal {
  max-width: 400px;
  text-align: center;
}

.receiverBlock {
  text-align: 'center';
  margin-bottom: 16px;
}

.controlsBlock {
  display: flex;
}

.submitButton {
  margin-left: 16px;
  width: 100px;
}
