.controls {
  padding: 16px;
  background: white;
  margin-bottom: 16px;
}

.cardContent {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.filterField {
  width: 100px;
}

button[type='submit'].filterField {
  margin-left: auto;
}

.inviteButton {
  margin-top: 16px;
}
