.controls {
  padding: 16px;
  background: white;
  margin-bottom: 16px;
}

.cardContent {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
