.controls {
  padding: 16px;
  background: white;
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;
}

.cardContent {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.filterField {
  width: 100px;
  margin-left: 16px;
}

.cardControls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
  margin-top: 16px;
}
