.userCard {
  display: flex;
}

.userAvatar {
  width: 128px;
  height: 128px;
  margin-right: 24px;
  cursor: pointer;
}

.userCardInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
}
