.chat {
  background: white;
  padding: 8px 16px;
}

.listItem {
  display: flex;
  justify-content: flex-start;
}

.listItem:hover {
  background: rgb(248, 248, 248);
  cursor: pointer;
}

.listItemAvatar {
  margin-right: 24px;
  margin-left: 24px;
  width: 64px;
  height: 64px;
}

.listItemContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
