.layout {
  height: 100vh;
}

.header {
  position: fixed;
  z-index: 1;
  font-size: 1.2rem;
  width: 100%;
}

.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userButton {
  font-size: 1rem;
}

.userIcon {
  margin-left: 16px;
}

.content {
  margin-top: 84px;
  padding-left: 216px;
  position: relative;
  min-height: calc(100vh - 100px);
}

.main {
  max-height: 100%;
}

.navigation {
  font-size: 1rem;
  position: absolute;
  width: 200px;
  left: 0;
}

.icon * {
  font-size: 1.2rem;
}
