.layout {
  display: grid;
  grid-template-rows: 64px 1fr 64px;
}

.header {
  position: fixed;
  z-index: 1;
  font-size: 1.5rem;
  width: 100%;
}

.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userIcon {
  color: white;
}

.content {
  padding: 0 50px;
  margin-top: 64px;
}

.footer {
  height: 64px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
